@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply no-scrollbar;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
